body{
 display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;      
  background-color: rgb(115, 115, 115);
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(71, 71, 71);
  padding: 10px;
}
.buttons {
  margin-top:50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3px;
  column-gap: 3px;
  height: 250px;
  padding: 10px;
}

.buttons button {
  border-radius: 10px;
  border: none;
  padding: 15px;
  background-color: rgb(36, 36, 36);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.buttons button:hover{
  background-color: rgb(51, 50, 50);
}

#display{
display: flex;
font-size: 3em;
align-items: center;
height: 70px;
border-radius: 10px;
color:white;
background-color: rgb(36, 36, 36);
}